<%- include ../includes/header.ejs %>

<% var hasItem = !!locals.item %>
<% var emptyBody =
       '# A First Level Header\n' +
       '\n' +
       '## A Second Level Header\n' +
       '\n' +
       'Now is the time for all good men to come to\n' +
       'the aid of their country. This is just a\n' +
       'regular paragraph.\n' +
       '\n' +
       'The quick brown fox jumped over the lazy\n' +
       'dog\'s back.\n' +
       '\n' +
       '### Header 3\n' +
       '\n' +
       '> This is a blockquote.\n' +
       '> \n' +
       '> This is the second paragraph in the blockquote.\n' +
       '>\n' +
       '> ## This is an H2 in a blockquote\n';
%>
<div class="container">
  <h1 class="page-title"><%= hasItem ? 'Edit Blog' : 'Tulis Blog' %></h1>

  <form method="post" action="<%= hasItem ? '/blog/edit/' + item._id + '?_method=PUT' : '/blog/create' %>">

    <div class="form-group">
      <label for="title" class="control-label">Title</label>
      <input type="text" name="title" id="title" class="form-control" value="<%= hasItem ? item.title : 'Blog Title' %>" required>
    </div>

    <div class="form-group">
      <label for="body" class="control-label">Body</label>
      <div class="alert alert-info" style="margin-bottom: 5px">
        Body text ditulis dalam format markdown.
      </div>
      <div class="markdown-preview">
        <textarea name="body" id="body" rows="25" class="form-control markdown-input monospace" required><%= hasItem ? item.body : emptyBody %></textarea>
        <div class="markdown-output"></div>
      </div>
    </div>

    <a href="<%= hasItem ? '/blog/' + item._id : '/blog' %>" class="btn btn-default">
      <i class="glyphicon glyphicon-arrow-left"></i> Kembali
    </a>
    <button type="submit" class="btn btn-primary">
      <i class="glyphicon glyphicon-ok"></i> Submit
    </button>

  </form>
</div>
