<%- include ../includes/header.ejs %>

<div class="container">
  <section class="post">
    <div class="post-header">
      <div class="post-title"><%= item.title %></div>
      <div class="post-date"><%= item.created_at.format('dddd, Mo MMMM Y HH:mm') %></div>

      <%if (user) { %>
        <div class="post-actions">
          <a href="/blog/edit/<%= item._id %>">
            <i class="glyphicon glyphicon-pencil"></i> Edit
          </a>

          <a href="/blog/delete/<%= item._id %>" onclick="return confirm('Yakin menghapus &quot;<%= item.title %>&quot;?')">
            <i class="glyphicon glyphicon-remove"></i> Delete
          </a>
        </div>
      <% } %>
    </div>

    <div class="post-body markdown-output">
      <%- body_html %>
    </div>
  </section>
</div>
